@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>General Store</h1>
        <p>
            Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.
        </p>
        @Html.ActionLink("Learn More About Us", "About")
        </div>

        <div class="row">
            <div class="col-md-4">
                <h2>Products</h2>
                <p>
                    Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
                    Come browse our products and see what we have for you.
                </p>
                @Html.ActionLink("Check Products", "Index", "Product", null, new { @class = "btn btn-primary btn-large" })
            </div>
            <div class="col-md-4">
                <h2>Customers</h2>
                <p>
                    Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
                    Come browse our customers and see who shops with us.
                </p>
                @Html.ActionLink("View Customers", "Index", "Customer", null, new { @class = "btn btn-primary btn-large" })
            </div>
            <div class="col-md-4">
                <h2>Transactions</h2>
                <p>
                    Our General Store, located in rural Indiana, is host to a multitude of fine food and items of distinction.<br />
                    Come browse a list of transactions.
                </p>
                @Html.ActionLink("View Transactions", "Index", "Transaction", null, new { @class = "btn btn-primary btn-large" })
            </div>
        </div>
